<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
<div id="app"></div>

<script type="text/x-template" id="menu">
    <div class="menu">
        <div class="logo">{{ blogName }}</div>
        <router-link v-for="item in menuItems" :to="item.link">{{ item.text }}</router-link>
    </div>
</script>

<script type="text/x-template" id="content">
    <div class="content">
        <router-view />
    </div>
</script>

<script type="text/x-template" id="postList">
    <div class="posts">
        <router-link v-for="post in posts" :to="post.path">
            <div class="title">{{ post.title }}</div>
            <div class="excerpt" v-html="post.excerpt"></div>
        </router-link>
    </div>
</script>

</body>
</html>